# Created by https://www.gitignore.io/api/react
# Edit at https://www.gitignore.io/?templates=react

### Node ###
node_modules

### Local ###
# folder named local doesn't show up in vscode...
personal
package-lock.json

### Serverless ###
.serverless
.dynamodb
.env